<!doctype html>{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>{% block title %}All I Know is Nothing{% endblock %}</title>
{% block css %}
{% if debug %}
	<link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css' %}" />
{% else %}
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
{% endif %}	
{% endblock css %}
</head>
<body>	
{% block content %}{% endblock content %}

{% block js %}
{% if debug %}
<script src="{% static 'lib/js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.js' %}"></script>
{% else %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
{% endif %}
{% endblock js %}
</body>
</html>